.leftMenu,
button {
    background-color: transparent
}

.navContentLink,
.socialContentItem i {
    font-size: .875rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: poppins, sans-serif;
    overflow: hidden
}

button {
    border: none
}

button:focus {
    outline: 0
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/hero_guitarmodel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex
}

.leftMenu {
    display: flex;
    flex-direction: column;
    width: 6.25rem;
    height: 100%;
    justify-content: space-between
}

.logo,
.nav {
    height: 6.25rem;
    width: 100%
}

.greenBox,
.logo {
    background-color: #2b838c
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center
}

.socialContentList {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: .625rem
}

.socialContentItem {
    margin-bottom: 2rem;
    cursor: pointer
}

.bi {
    font-weight: 400;
    color: #2b838c
}

.bi:hover,
.descripContent>p,
.largerText,
.navContentLink,
.navContentLink:hover {
    color: #06343e
}

.bi:hover {
    transition: .3s ease-in-out
}

.navContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 1.875rem
}

.navContentList {
    display: flex;
    list-style-type: none;
    cursor: pointer
}

.navContentList li {
    font-weight: 600;
    padding: 1.2rem
}

.navContentLink {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .0313rem
}

.navContentLink.active {
    border-top: .125rem solid #2b838c;
    padding-top: .4375rem;
    color: #06343e
}

.largerTextContent {
    position: absolute;
    left: 10%;
    top: 28%
}

.largerText {
    font-family: Lato, sans-serif;
    font-size: 1.5625rem;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    line-height: 1
}

.greenBox {
    width: 11.25rem;
    height: 10rem;
    margin-top: 1rem;
    padding: 2rem
}

.greenBoxContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.acoustic,
.descripContent,
.electroacoustic {
    flex-direction: column;
    display: flex
}

.greenBoxContent>span:first-child {
    font-size: .75rem;
    background-color: #d2d2d2;
    width: 1.875rem;
    height: 1.875rem;
    color: #2b838c;
    border-radius: 3.125rem;
    text-align: center;
    margin-bottom: .3125rem
}

.greenBoxContent>span:nth-child(2) {
    font-size: 1.75rem;
    color: #d2d2d2;
    text-transform: capitalize;
    margin-bottom: .25rem
}

.seePhotos {
    font-size: .75rem;
    color: #d2d2d2;
    text-transform: capitalize;
    letter-spacing: .0313rem
}

.seePhotos::before {
    display: inline-block;
    content: "";
    border-top: 1.9px solid #d2d2d2;
    width: 1.5625rem;
    margin: 0 .625rem 0 0;
    transform: translateY(-.1875rem)
}

.descripContent {
    position: absolute;
    width: 18.75rem;
    height: 25rem;
    top: 30%;
    right: 5%;
    padding: 1rem;
    justify-content: space-between
}

.descripContent>p {
    font-family: Lato, sans-serif;
    width: 14.375rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5rem
}

.descripContent>p>span {
    color: #2b838c
}

.acoustic>span:first-child,
.electroacoustic>span:first-child {
    color: #2b838c;
    margin-bottom: .4375rem;
    font-size: .875rem
}

.acoustic>span:first-child,
.electroacoustic>span:nth-child(2) {
    font-size: .9375rem;
    font-weight: 600;
    color: #06343e;
    text-transform: capitalize;
    letter-spacing: .0563rem
}

.guitarText {
    font-size: 1.25rem;
    font-weight: 600;
    color: #06343e;
    text-transform: capitalize;
    letter-spacing: .0437rem
}

.guitarText::before {
    display: inline-block;
    content: "";
    width: 2.1875rem;
    border-top: .125rem solid #2b838c;
    transform: translateX(-.625rem) translateY(-.3125rem);
    padding-right: .625rem
}

.slide {
    letter-spacing: .25rem
}

.slide>span:first-child {
    color: #616a77
}

.slide>span:nth-child(2) {
    color: #2b838c;
    font-size: .8125rem
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 1;
    background: linear-gradient(90deg, #2b838c 20%, #06343e 80%, #06343e 100%);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}